
@media only screen and (min-width:1600px){
    body{
        margin: 0px 100px;
        border: 1px solid var(--grey);
        background-color: var(--grey-light);
    }
    .sidebar {
        left: 100px;
     }
}
@media only screen and (min-width:1800px){
    body{
        margin: 0px 150px;
    }
    .sidebar {
        left: 150px;
     }
}
@media only screen and (min-width:2000px){
    body{
        margin: 0px 200px;
    }
    .sidebar {
        left: 200px;
     }
}
@media only screen and (min-width:2200px){
    body{
        margin: 0px 300px;
    }
    .sidebar {
        left: 300px;
     }
}

@media only screen and (min-width:2500px){
    body{
        margin: 0px 500px;
    }
    .sidebar {
        left: 500px;
     }
}

@media only screen and (max-width:1200px){
     .main{
        width: 100%;
     }
    .sidebar {
        /* display: none; */
        left: -250px;
        z-index: 10000;
     }
     .footer{
        width: 100%;
     }
     .Table{
        border: 1px solid transparent;
     }
     
     .table-head{
        min-width: 100px;
     }
     
     .table-div{
        border: 1px solid var(--grey);
        border-radius: 4px;
        overflow-x: scroll;
     }
     .contact-div{
        display: none;
     }
     .side-menu{
   display: flex;
     }
     .contact-card{
        display: block;
     }
}

@media only screen and (max-width:767px){
  .tab {
  display: flex;
  flex-direction: column;
 }
 
}

@media only screen and (max-width:767px){
    .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
   }
   .form-row label{
    border-right: 0px solid var(--black);

    width: 100%;
 }
 .form-icon{
    display: none;
 }
 .form-row .label-lg{
    border-right: 0px solid var(--black);
    width: 100%;
 }
 br{
    display: none;
 }
 .from-input{
    padding: 0px 0px;
    margin-top: 10px;
 }
 .form-textarea{
    padding: 10px 15px;
 }
 .f-30{
   font-size: 20px;

}
.logo-login img {
   height: 60px;
   width: auto;
   object-fit: contain;
}
  }