/* ================================================Colors */
:root{
    --primary:#AC0206;
    --grey:#B8BFB7;
    --grey-dark:#979797;
    --grey-light:#F9F9F9;
    --black:#000000;
}
/* ================================================Font Sizes */
.f-10{
    font-size: 10px !important;
}
.f-12{
    font-size: 12px !important;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.f-18{
    font-size: 18px;
}
.f-20{
    font-size: 20px;
}
.f-22{
    font-size: 22px;
}
.f-24{
    font-size: 24px;
}
.f-26{
    font-size: 26px;
}
.f-28{
    font-size: 28px;
}
.f-30{
    font-size: 30px;

}
   

.f-32{
    font-size: 32px;
}
.f-34{
    font-size: 34px;
}
.f-36{
    font-size: 36px;
}
.f-38{
    font-size: 38px;
}
.f-40{
    font-size: 40px;
}



/* ==========================================================Font Weights */
.w-300{
    font-weight: 300;
}
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.w-800{
    font-weight: 800;
}


/* ================================================================Fony Famlies */
.font-primary{
    font-family: 'Nunito', sans-serif;
}
.font-secondary{
    font-family: 'Sofia Sans Condensed', sans-serif;
}


/* ====================================================================Font Colors */
.text-primary{
    color: var(--primary);
}
.text-grey{
    color: var(--grey-dark);
}
.text-black{
    color: var(--black);
}




/* =========================================================backgroun */
.bg-black{
    background-color: var(--black);
}
.no-decoration{
    text-decoration: none;
}