:root {
  --primary: #4c6ef8;
  --primary-light: #4c6ef8b0;
  --light: #f4f5fa;
  --text-light: #8890b5;
  --text-dark: #2f3862;
  --purple: #9267ff;
  --text: #8890b5;
  --green: #4be69d;
  --yellow: #ffbf43;
  --secondary-font: "Comfortaa", cursive;
}

body {
  font-family: var(--secondary-font);
}

/* ================================================Font Sizes */
.f-10 {
  font-size: 10px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-28 {
  font-size: 28px;
}

.f-30 {
  font-size: 30px;

}


.f-32 {
  font-size: 32px;
}

.f-34 {
  font-size: 34px;
}

.f-36 {
  font-size: 36px;
}

.f-38 {
  font-size: 38px;
}

.f-40 {
  font-size: 40px;
}



/* ==========================================================Font Weights */
.w-300 {
  font-weight: 300;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

.w-800 {
  font-weight: 800;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
  width: 10px;
}

.backdrop {
  background-color: #0000009a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: none;
  z-index: 80;
}

.sidebar-section {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: hidden;
  width: fit-content;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 12px 30px rgba(80, 143, 244, 0.1);
  transition: all .5s;
}

.sidebar-section::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

.sidebar-section::-webkit-scrollbar-track {
  box-shadow: none;
}

.sidebar-section::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
  width: 10px;
}

.sidebar-section:hover {
  overflow: scroll;
}

.sidebar {
  background-color: white;
  position: relative;
  width: 260px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.logo-section img {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  height: 100%;
  padding: 0;
  overflow: auto;
  width: 100%;
  padding: 0px 30px;
}

.nav-links::-webkit-scrollbar {
  display: none;
}

.nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  margin-bottom: 15px;
  padding: 6px 4px;
  border-radius: 4px;
}

.nav-links li.active {
  background-color: var(--light);
}

/* .nav-links li:hover{
    background-color: var(--light);
     } */
/* .nav-links > li.active:before,
.nav-links > li:before{
  position:absolute;
  left:0;
  top:0;
  content:'';
  width:4px;
  height:100%;
  background:#93181a;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  border-top-right-radius:5px;
  border-top-right-radius:5px;
} */
.nav-links li.active:before,
.nav-links li:hover:before {
  opacity: 1;
}

.nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.nav-links li i {
  text-align: center;

  color: var(--text-light);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links li a i {
  background: #fff;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(83, 108, 167, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li.active i,
.nav-links li:hover i {
  color: var(--text-dark);
}

.nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links li a .link_name {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-light);
  transition: all 0.4s ease;
  font-family: var(--secondary-font);
  margin-left: 15px;
}

.nav-links li.active a .link_name,
.nav-links li:hover a .link_name {
  color: var(--text-dark);
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.nav-links li .sub-menu {
  padding: 6px 6px 0px 50px;
  margin-top: -10px;
  display: none;
}

.nav-links li.showMenu .sub-menu {
  display: block;
}

.nav-links li.showMenu {
  display: block;
  background-color: var(--light);
}

.nav-links li.showMenu a .link_name {
  color: var(--text-dark);
}

.nav-links li.showMenu i {
  color: var(--text-dark);
}

.nav-links li .sub-menu a {
  color: var(--text-light);
  font-size: 12px;
  padding: 0px 0;
  white-space: nowrap;
  opacity: 0.9;
  transition: all 0.3s ease;
  font-family: var(--secondary-font) !important;
  font-weight: 700 !important;
}

.nav-links li .sub-menu a:hover {
  opacity: 1;
  color: var(--text-dark);
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sub-menu li {
  margin-bottom: 7px !important;
}

.hide-side {
  left: -270px !important;
}

/* ==================================================================main section */
.main-section {
  width: calc(100% - 260px);
  transition: all .5s;
}

.full-main {
  width: 100%;
}

.header {
  background-color: var(--primary);
  padding: 30px;
  padding-bottom: 120px;
  border-radius: 0px 0px 20px 20px;
}

.menu-btn {
  display: none;
}

.menu-btn i {
  font-size: 20px;
  color: white;
}

.search-section {
  position: relative;
}

.search-section input {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.156);
  border: none;
  outline: none;
  padding: 8px 12px 8px 40px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-weight: 400;
}

.search-section .search-input {
  position: absolute;
  left: 14px;
  top: 6px;
  color: white;
  font-size: 18px;
}

.search-section input::placeholder {
  color: white !important;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages img {
  width: 30px;
  height: 20px;
  border: 2px solid white;
  margin-right: 7px;
}

.non-active {
  opacity: 0.8;
}

.languages img.active {
  border: 2px solid white;
}

/* =====================================================================toolpit */
.profile-img {
  position: relative;
}

.profile-img img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.tool-pit {
  display: none;
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: transparent;
  height: 300px;
  z-index: 100;
  width: 300px;
  padding: 40px 0px 20px 20px;
}

.tool-pit2 {
  top: 10px !important;
}

.profile-img:hover .tool-pit {
  display: block;
}

.tool-pit-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(83, 108, 167, 0.16);
}

.tool-pit-content--header {
  padding: 20px 25px;
  background: #14256a;
  border-radius: 10px 10px 0 0;
}

.tool-pit-content--header .title {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.tool-pit-content--header .name {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.tool-pit-content .menus {
  padding: 14px 25px 20px 25px !important;
  list-style: none;
  width: 100%;
}

.tool-pit-content .menus li {
  margin-top: 6px;
  width: 100%;
}

.tool-pit-content .menus li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-dark);
  text-decoration: none;
  width: 100%;
}

.tool-pit-content .menus li {
  padding: 10px;
  border-radius: 4px;
}

.tool-pit-content .menus li:hover {
  background-color: var(--light);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #14256a;
  position: absolute;
  top: 25px;
  right: 7px;
}

/* ===========================================================================main content */
.main-content {
  background-color: #f5f6ff;
  padding: 35px 25px;
  border-radius: 10px;
  margin-top: -90px;
}

.tab-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  color: var(--text);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  background-color: white;
}

.yellow-card {
  border-bottom: 6px solid var(--yellow);
}

.purple-card {
  border-bottom: 6px solid var(--primary);
}

.green-card {
  border-bottom: 6px solid var(--green);
}

.rounded-card {
  border-radius: 10px;
}

.yellow-card:hover {
  background-color: var(--yellow);
  color: white;
}

.purple-card:hover {
  background-color: var(--primary);
  color: white;
}

.green-card:hover {
  background-color: var(--green);
  color: white;
}

.arrow-down-purple {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--primary);
  position: absolute;
  bottom: -15px;
  left: calc(50% - 10px);
}

.arrow-down-yellow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--yellow);
  position: absolute;
  bottom: -15px;
  left: calc(50% - 10px);
}

.btns-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btns-row span {
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-primary-sm {
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 6px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
  border: solid 1px transparent !important;
  outline: none;
  position: relative;
  border-radius: 3px;
  user-select: none;
  /* box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
    0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset; */
  color: #a5a5a5 !important;
  text-decoration: none;
  font-weight: 700;
}

.btn-primary-sm:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

.btn-primary,
.buttons-excel {
  border-radius: 4px;
  font-size: 14px;
  padding: 7px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
  border: solid 1px transparent !important;
  outline: none;
  position: relative;
  border-radius: 0.5rem;
  user-select: none;
  /* box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
    0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset; */
  color: #a5a5a5 !important;
  text-decoration: none;
}

.btn-primary:hover,
.buttons-excel:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

.buttons-excel {
  margin-top: 5px !important;
  background-color: var(--primary) !important;
  color: #ffffff !important;
  padding: 8px 20px !important;
}

.btn-primary:hover .btn-number {
  background-color: white;
  color: var(--primary);
}

.btn-number {
  top: 7px;
  right: 7px;
  border-radius: 100%;
  background-color: var(--primary);
  margin-left: 10px !important;
  padding: 4px;
  color: white;
  font-weight: 600;
  height: 25px;
  width: 25px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.total-card {
  background-color: white;
  border-radius: 0px 4px 4px 0px;
  padding: 15px;
  border-left: 4px solid var(--primary);
}

.text-lg {
  font-size: 16px;
  color: var(--text);
  font-weight: 700;
}

.text-numer {
  font-size: 22px;
  color: var(--text-dark);
  font-weight: 700;
}

.icon-card {
  font-size: 30px;
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
  color: white !important;
  padding: 8px 20px;
}

/* ================================================table */
.table-section {
  background-color: white;
  padding: 20px 20px;
  border-radius: 4px;
}

.table-div {
  /*overflow-x: scroll;*/
}

.table-div::-webkit-scrollbar {
  height: 8px;
}

.table-div::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

table.dataTable.no-footer {
  border-bottom: 0px solid transparent !important;
}

.table-head {
  font-size: 14px !important;
  white-space: nowrap;
  text-align: center !important;
  padding: 6px 6px;
  text-align: left !important;
}

td {
  white-space: nowrap;
  text-align: center !important;
  padding: 6px 6px;
  text-align: left !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.status-active {
  font-weight: 500;
  background-color: aqua;
  text-align: center;
  font-size: 12px;
  color: white;
  border-radius: 3px;
  width: fit-content;
  padding: 2px 8px;
}

.status-pending {
  font-weight: 500;
  background-color: rgb(148, 118, 62);
  text-align: center;
  font-size: 12px;
  color: white;
  border-radius: 3px;
  width: fit-content;
  padding: 2px 8px;
}

.status-approved {
  font-weight: 500;
  background-color: rgb(50, 129, 50);
  text-align: center;
  font-size: 12px;
  color: white;
  border-radius: 3px;
  width: fit-content;
  padding: 2px 8px;
}

.status-pause {
  font-weight: 500;
  background-color: var(--text);
  text-align: center;
  font-size: 12px;
  color: white;
  border-radius: 3px;
  width: fit-content;
  padding: 2px 8px;
}

.table-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table-menu-btn-list li {
  padding: 7px;
}

.table-menu-btn-list li:hover {
  background-color: var(--light);
}

.no-decoration {
  text-decoration: none;
}

.table-div thead {
  background-color: var(--light);
}

#dataTable_filter {
  margin-bottom: 20px;
}

.filter-input,
#dataTable_filter input {
  width: 200px;
  background-color: var(--primary-light);
  border: none;
  outline: none;
  padding: 8px 12px 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-weight: 400;
}

.filter-input::placeholder,
#dataTable_filter input::placeholder {
  content: "Search here..";
  font-size: 14px;
  color: white;
}

.dataTables_paginate,
.dataTables_info {
  margin-top: 30px !important;
}

.dataTables_length {
  margin-bottom: 30px !important;
}

.paginate_button {
  font-size: 12px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 14px;
  line-height: 5px;
  padding: 7px 4px;
}

.dataTables_wrapper .dataTables_info {
  font-size: 14px !important;
}

.dataTables_wrapper .dataTables_length label {
  font-size: 14px !important;
}

.economy-radio {
  display: none;
}

.custom-economy-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  border: 2px solid #f00;
}

.custom-economy-radio::after {
  content: "\2713";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #f00;
}

.economy-radio:checked+.custom-economy-radio::after {
  display: block;
}

.economy2-radio {
  display: none;
}

.custom-economy2-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  border: 2px solid #00d400;
}

.custom-economy2-radio::after {
  content: "\2713";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #00d400;
}

.economy2-radio:checked+.custom-economy2-radio::after {
  display: block;
}

/*.background_check--active {*/
/*    border: 2px solid #000000;*/
/*}*/

/*.sub-menu-list .menu-item {*/
/*    margin-left: 10px;*/
/*}*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 25px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 2px solid #c3c3c3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #c3c3c3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
}

.action-icons span {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: 10px;
  line-height: 10px;
  cursor: pointer;
}

/* ==================================================================form */
.update-form .form-label,
.form-check-label {
  font-size: 14px;
  font-weight: 700;
}

.update-form input,
.update-form select,
textarea {
  font-size: 14px;
  border: 1px solid var(--text);
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
}

textarea {
  padding: 10px !important;
}

/* ========================================================Dropzone */
.drop-zone {
  /* height: 100px; */
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: #cccccc;
  border: 1px solid var(--text);
  border-radius: 4px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.bi-cloud-arrow-up-fill {
  font-size: 40px;
}

/* =====================================================================candidates Profile */
.white-box-p-0 {
  background-color: white;
  padding: 0px 0px !important;
  border: 2px solid white;
}

.white-box {
  background-color: white;
  padding: 10px 15px !important;
}

.candidate-profile {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
  background-color: #000000b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tabs */
/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid var(--text);
  background-color: var(--light);

}

.tab2 {
  overflow: hidden;
  border-bottom: 1px solid var(--text);
  background-color: var(--light);
}

/* Style the buttons inside the tab */
.tab2 button,
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 25px 5px 25px;
  transition: 0.3s;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tab2 button:hover,
.tab button:hover {
  border-bottom: 2px solid black;
}

/* Create an active/current tablink class */
.tab2 button.active,
.tab button.active {
  border-bottom: 2px solid black;
}

/* Style the tab content */
.tabcontent {
  border-top: none;
  height: 100%;
  padding: 20px 15px;
}

.tabcontent2 {
  border-top: none;
  padding: 20px 15px;
}

/* =======================================================================Timeline */
.sessions {
  list-style: none;
  padding: 0;
}

.wrapper {
  padding: 10px;
  border-radius: 15px;
}

.sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.sessions li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.sessions li:last-child {
  border: 0px;
  padding-bottom: 0;
}

.sessions li:before {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.time {
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* ======================================================Fix cards */
.overflow-div {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}

.modal-dialog-lg {
  max-width: 80% !important;
}

.calendar {
  height: 280px !important;
}

/* Flash message */
#msg-flash {
  position: fixed;
  right: 25px;
  top: 25px;
  animation: slide-in-out 6s ease-in-out;
  animation-fill-mode: forwards;
  padding: 8px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
  -webkit-box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
  -moz-box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
  z-index: 999999;
}

@keyframes slide-in-out {
  0% {
    transform: translateX(160%);
  }

  20% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(160%);
  }
}

/* ===================== FILE INPUT ===================== */
.file-area {
  width: 100%;
  position: relative;
}

.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.file-area .file-dummy {
  width: 100%;
  /* padding: 30px; */
  padding-top: 30px;
  padding-bottom: 60px;
  background: rgba(255, 255, 255, 0.2);
  /*border: 2px dashed rgba(255, 255, 255, 0.2);*/
  text-align: center;
  transition: background 0.3s ease-in-out;
  border: 1px solid var(--text);
}

.file-area .file-dummy .success {
  display: none;
}

.file-area:hover .file-dummy {
  background: rgba(255, 255, 255, 0.1);
}

.file-area input[type=file]:focus+.file-dummy {
  /*outline: 2px solid rgba(255, 255, 255, 0.5);*/
  /*outline: -webkit-focus-ring-color auto 5px;*/
}

button:disabled {
  background-color: #7B94A8 !important;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #7B94A8 !important;
  cursor: not-allowed;
}

.order-history {
  max-height: 500px !important;
  overflow-y: auto;
}

/* ------------------------------
sign in
---------------------------------- */
.sign-row {
  height: 100vh;
}

.sign-form {
  border: 0px solid #c5c5c5;
  padding: 30px;
  border-radius: 4px;
  width: 478px;
  background-color: rgba(255, 255, 255, 0.659);

}

.continue-msg {
  color: #06889b;
  background-color: #e1f8fb;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 1rem;
  border: 1px solid #b5edf5;
  border-radius: 4px;
}

.sign-input2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  border: 0px solid #c5c5c5 !important;
  border-radius: 8px;
  height: 45px;
  padding: 0px 15px;
  background-color: rgba(255, 255, 255, 0.103) !important;
}

.sign-input2::placeholder {
  color: #a6a0a0;
}


.sign-form h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: #364a63;
  letter-spacing: -0.02em;
}

.sign-form p {
  color: #526484;
}

.sign-form label {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #344357 !important;
}

.sign-form input {
  display: block;
  width: 100%;
  padding: 0.5375rem 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
  color: #3c4d62;
  background-color: rgba(255, 255, 255, 0.762);
  background-clip: padding-box;
  border: 1px solid #dbdfea;
  appearance: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sign-form button {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.sign-form button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.5375rem 1rem;
  border-radius: 4px;
  color: #fff;
  background-color: var(--primary);
  box-shadow: none;
  border: none;
}

.sign-form button:hover {
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

.password {
  position: relative;
}

#togglePassword {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--primary);
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width:600px) {
  .sign-form {
    padding: 15px;
  }

}

/*Translator*/

a.gflag {
  vertical-align: middle;
  font-size: 15px;
  padding: 0px;
  background-repeat: no-repeat;
  background-image: url(//gtranslate.net/flags/16.png);
}

a.gflag img {
  border: 0;
}

a.gflag:hover {
  background-image: url(//gtranslate.net/flags/16a.png);
}

iframe.skiptranslate {
  visibility: hidden !important;
}

#goog-gt-tt {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-menu-value:hover {
  text-decoration: none !important;
}

body {
  top: 0 !important;
}

#google_translate_element2 {
  display: none !important;
}

.black-white {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) !important;
}

/*Translator End*/

.spinner-border {
  width: 1.2rem !important;
  height: 1.2rem !important;
  border: 0.2em solid currentColor !important;
  border-right-color: transparent !important;
}

.shadow2 {
  box-shadow: 0px 0px 5px 0px rgba(71, 71, 71, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(71, 71, 71, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(71, 71, 71, 0.75);
}

/*.dropdown-menu {*/
/*  position: fixed !important;*/
/*}*/